<h2>
    Каталог
</h2>

{% for good in catalog %}
    <div>
        <a href="/product/card/?id={{ good.id }}">
        <b>{{ good.name }}</b><br>
        <img width="50" src="/img/{{ good.image }}"><br>
        Цена: {{ good.price }}<br>
        </a>
        <button type="submit" class="buy" data-id="{{ good.id }}">Купить</button><hr>

    </div>
{% endfor %}

<a href="?page={{ page }}">Еще</a>
